
# IntelliJ IDEA
.idea/
*.iml
out/

# Java compiled files
*.class

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Gradle
.gradle/
build/

# Logs and temp files
*.log
*.tmp
*.swp

# OS
.DS_Store
Thumbs.db


